extends layout_contacts

block content
    h4= title
    p Welcome to #{title}

    div(id='contact_container')
        table(id="contactsTable")
            thead
                tr
                    td.
                        First Name
                    td.
                        Last Name
                    td.
                        E-Mail
                    td.
                        Description
                    td.
                        Operation

        br
        br
        div
            form(method='POST',id='add_contact')
                div
                    label.
                        First Name
                    input(type='text', name='fName', id='fName')
                div
                    label.
                        Last Name
                    input(type='text', name='lName', id='lName')
                div
                    label.
                        E-Mail
                    input(type='text', name='email', id='email')
                div
                    label.
                        Description
                    textarea( name='description', id='description')
                br
                div
                    input(type='submit', value='Submit')


    script(id='contactModelSmall' , type='text/template')
        span.
            <%= fName %> <%= lName %> (<%= email %>)

    script(id='contactModelFull' , type='text/template')
        div(class='contact')
            p(class='name').
                <%= fName %> <%= lName %>
            span(class='email').
                <%= email %>
            div(class='description').
                <%= description %>

    script(id='contactModelTable' , type='text/template')
        td.
            <%= fName %>
        td.
            <%= lName %>
        td.
            <%= email %>
        td.
            <%= description %>
        td
            input(type='button', class='edit', id!='contact_edit_<%= id %>', data!='<%= id %>', value='Edit')
            input(type='button', class='delete',  id!='contact_del_<%= id %>', data!='<%= id %>', value='Delete')

    script(id='edit_contact')
        form(method='POST')
            div
                label.
                    Edit First Name
                input(type='text', name='edit_fName', id='edit_fName')
            div
                label.
                    Edit Last Name
                input(type='text', name='edit_lName', id='edit_lName')
            div
                label.
                    Edit E-Mail
                input(type='text', name='edit_email', id='edit_email')
            div
                label.
                    Edit Description
                textarea( name='edit_description', id='edit_description')
            br
            div
                input(type='submit', value='Save')