extends layout

block content
    h4= title
    p Welcome to #{title}

    ul
        <li><a href="#book-a">Book A</a></li>
        <li><a href="#book-b">Book B</a></li>


    #bbcontainer.
        Loading...

    br

    script(id='personTemplate' , type='text/template')
        div
            h3.
                <%= name %>
            p.
                (<%= age %>), job: <%= job %>

    form(id='addTask')
        input(type='text', name='taskTitle', placeholder='Add new task')
        input(type='submit', value='Add')

    script(id='taskModel' , type='text/template')
        span.
            <%= title %> (with priority:  <%= priority %>)

    script(id='personTemplateV2' , type='text/template')
        div
            span(class='title').
                <%= title %>
            span(class='priority')
                |&nbsp;(priority: <%= priority %>)
            button(class='edit').
                Edit
            |&nbsp;
            button(class='delete').
                Delete