extends layout

block content
    h1= title
    p Welcome to #{title}

    ul
        <li><a href="#book-a">Book A</a></li>
        <li><a href="#book-b">Book B</a></li>

    <div class="someClass">
    <h3>Book c</h3>
    </div>